
.collapse-title {
  background-color: #FF6060;
  border-radius: 5px;
  display: flex;
  margin: 30px;
  padding: 10px 20px 10px 15px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 769px) {
    padding: 5px 10px 5px 10px;
  }
  p {
    color: #fff;
    font-size: 24px;
    line-height: 0px;
  }
  .Arrow {
    width: 24px;
    object-fit: contain;
    transition: 0.5s;
    @media (max-width: 769px) {
      width: 16px;
    }
    &.down {
      transform: rotate(-0.5turn);
    }
    
  }
}

.collapse-parent {
  overflow: hidden;
  &.show {
    transition: height 0.6s ease;
    p {
      transform: translate(0px, 20px);
    }
  }
  &.hide {
    height: 0px;
    transition: height 0.6s ease;
  }
}
.collapse-content {
  background-color: #F6F6F6;
  margin: 30px;
 
p {
    transition: 0.4s;
    padding: 15px;
    border-radius: 5px;
  }
}