.details{
    padding: 30px;
}
.tag-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 768px) {
        
        font-size: 10px;
}
}
.tag-ul {
    color: white;
    width:115px;  
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    padding:  10px;
    font-family: Montserrat;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    
  
}

h1{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;

}
h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;

}